In [1]:
from vega import VegaLite
import pandas as pd
import json

In [2]:
data = pd.read_csv("/Users/apple/Desktop/building_inventory.csv")

In [9]:
sub_df = data[["Year Constructed","Square Footage"]][:10]

In [10]:
sub_df

   Year Constructed  Square Footage
0              1975             144
1              2004             144
2              2004             144
3              2004             144
4              2004             144
5              2004             144
6              2000             120
7              2000             120
8              2000             144
9              2000             144

In [12]:
sub_df.to_json("inventory.json",orient="records")